In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('NYC_Weather_2016_2022.csv')

In [4]:
df.columns

Index(['time', 'temperature_2m (°C)', 'precipitation (mm)', 'rain (mm)',
       'cloudcover (%)', 'cloudcover_low (%)', 'cloudcover_mid (%)',
       'cloudcover_high (%)', 'windspeed_10m (km/h)', 'winddirection_10m (°)'],
      dtype='object')

In [15]:
df.tail()

,time,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
59755,2022-10-25T19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59756,2022-10-25T20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59757,2022-10-25T21:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59758,2022-10-25T22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59759,2022-10-25T23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
df = df.dropna()

In [68]:
df = df[['time', 'temperature_2m (°C)', 'precipitation (mm)', 'rain (mm)']]

In [74]:
df['rain (mm)'].max()

19.2

In [79]:
df['time'] = pd.to_datetime(df['time'])

C:\Users\rucku\AppData\Local\Temp\ipykernel_20604\4237337754.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time'] = pd.to_datetime(df['time'])

In [81]:
df.dtypes

time                   datetime64[ns]
temperature_2m (°C)           float64
precipitation (mm)            float64
rain (mm)                     float64
dtype: object

In [82]:
df

                     time  temperature_2m (°C)  precipitation (mm)  rain (mm)
0     2016-01-01 00:00:00                  7.6                 0.0        0.0
1     2016-01-01 01:00:00                  7.5                 0.0        0.0
2     2016-01-01 02:00:00                  7.1                 0.0        0.0
3     2016-01-01 03:00:00                  6.6                 0.0        0.0
4     2016-01-01 04:00:00                  6.3                 0.0        0.0
...                   ...                  ...                 ...        ...
59611 2022-10-19 19:00:00                 12.2                 0.0        0.0
59612 2022-10-19 20:00:00                 12.2                 0.0        0.0
59613 2022-10-19 21:00:00                 12.2                 0.0        0.0
59614 2022-10-19 22:00:00                 11.1                 0.0        0.0
59615 2022-10-19 23:00:00                 10.4                 0.0        0.0

[59587 rows x 4 columns]

In [83]:
df.to_csv('temp_clean.csv',index=False)