In [1]:
__depends__ = '../data/external/NYC_Weather_2016_2022.csv'
__dest__ = '../data/interim/temp_clean.csv'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/external/NYC_Weather_2016_2022.csv')

In [4]:
df[['time', 'temperature_2m (°C)', 'precipitation (mm)', 'rain (mm)',
       'cloudcover (%)', 'cloudcover_low (%)', 'cloudcover_mid (%)',
       'cloudcover_high (%)', 'windspeed_10m (km/h)', 'winddirection_10m (°)']]

,time,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,2016-01-01T00:00,7.6,0.0,0.0,69.0,53.0,0.0,72.0,10.0,296.0
1,2016-01-01T01:00,7.5,0.0,0.0,20.0,4.0,0.0,56.0,9.8,287.0
2,2016-01-01T02:00,7.1,0.0,0.0,32.0,3.0,0.0,99.0,9.7,285.0
3,2016-01-01T03:00,6.6,0.0,0.0,35.0,5.0,0.0,100.0,9.2,281.0
4,2016-01-01T04:00,6.3,0.0,0.0,34.0,4.0,0.0,100.0,9.1,279.0
...,...,...,...,...,...,...,...,...,...,...
59755,2022-10-25T19:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59756,2022-10-25T20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59757,2022-10-25T21:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59758,2022-10-25T22:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59759,2022-10-25T23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.isna().sum()

time                       0
temperature_2m (°C)      168
precipitation (mm)       168
rain (mm)                168
cloudcover (%)           168
cloudcover_low (%)       168
cloudcover_mid (%)       168
cloudcover_high (%)      168
windspeed_10m (km/h)     168
winddirection_10m (°)    173
dtype: int64

Amount of missing data is pretty insignificant so we will drop it. Unsure if it is missing completely at random or not, so this may have an effect on causal analysis.

In [6]:
df = df.dropna()

In [7]:
df

,time,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,2016-01-01T00:00,7.6,0.0,0.0,69.0,53.0,0.0,72.0,10.0,296.0
1,2016-01-01T01:00,7.5,0.0,0.0,20.0,4.0,0.0,56.0,9.8,287.0
2,2016-01-01T02:00,7.1,0.0,0.0,32.0,3.0,0.0,99.0,9.7,285.0
3,2016-01-01T03:00,6.6,0.0,0.0,35.0,5.0,0.0,100.0,9.2,281.0
4,2016-01-01T04:00,6.3,0.0,0.0,34.0,4.0,0.0,100.0,9.1,279.0
...,...,...,...,...,...,...,...,...,...,...
59611,2022-10-19T19:00,12.2,0.0,0.0,68.0,9.0,100.0,0.0,21.2,212.0
59612,2022-10-19T20:00,12.2,0.0,0.0,61.0,8.0,90.0,0.0,20.3,207.0
59613,2022-10-19T21:00,12.2,0.0,0.0,62.0,21.0,72.0,0.0,16.6,207.0
59614,2022-10-19T22:00,11.1,0.0,0.0,4.0,0.0,6.0,0.0,10.8,206.0
59615,2022-10-19T23:00,10.4,0.0,0.0,0.0,0.0,0.0,0.0,7.7,217.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59587 entries, 0 to 59615
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   time                   59587 non-null  object
 1   temperature_2m (°C)    59587 non-null  float64
 2   precipitation (mm)     59587 non-null  float64
 3   rain (mm)              59587 non-null  float64
 4   cloudcover (%)         59587 non-null  float64
 5   cloudcover_low (%)     59587 non-null  float64
 6   cloudcover_mid (%)     59587 non-null  float64
 7   cloudcover_high (%)    59587 non-null  float64
 8   windspeed_10m (km/h)   59587 non-null  float64
 9   winddirection_10m (°)  59587 non-null  float64
dtypes: float64(9), object(1)
memory usage: 5.0+ MB

In [9]:
df['time'] = pd.to_datetime(df['time'])

In [10]:
df.index = df['time']

In [11]:
df = df.drop('time',axis=1)

In [12]:
df['temp'] = df['temperature_2m (°C)']*9/5 + 32

In [13]:
df = df.drop('temperature_2m (°C)',axis=1)

In [17]:
df

,precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°),temp
time,,,,,,,,,
2016-01-01 00:00:00,0.0,0.0,69.0,53.0,0.0,72.0,10.0,296.0,45.68
2016-01-01 01:00:00,0.0,0.0,20.0,4.0,0.0,56.0,9.8,287.0,45.50
2016-01-01 02:00:00,0.0,0.0,32.0,3.0,0.0,99.0,9.7,285.0,44.78
2016-01-01 03:00:00,0.0,0.0,35.0,5.0,0.0,100.0,9.2,281.0,43.88
2016-01-01 04:00:00,0.0,0.0,34.0,4.0,0.0,100.0,9.1,279.0,43.34
...,...,...,...,...,...,...,...,...,...
2022-10-19 19:00:00,0.0,0.0,68.0,9.0,100.0,0.0,21.2,212.0,53.96
2022-10-19 20:00:00,0.0,0.0,61.0,8.0,90.0,0.0,20.3,207.0,53.96
2022-10-19 21:00:00,0.0,0.0,62.0,21.0,72.0,0.0,16.6,207.0,53.96
2022-10-19 22:00:00,0.0,0.0,4.0,0.0,6.0,0.0,10.8,206.0,51.98
2022-10-19 23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,7.7,217.0,50.72

In [18]:
df.to_pickle('../data/interim/temp_clean.p')