In [36]:
import pandas as pd

In [37]:
df = pd.read_csv('parking_clean_datetimes.csv')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12670934 entries, 0 to 12670933
Data columns (total 10 columns):
 #   Column     Dtype
---  ------     -----
 0   state      object
 1   license    object
 2   date       object
 3   time       object
 4   violation  object
 5   precinct   int64
 6   county     object
 7   agency     object
 8   fine       float64
 9   dt         object
dtypes: float64(1), int64(1), object(8)
memory usage: 966.7+ MB

In [46]:
df['state'] = df['state'].astype('category')
df['license'] = df['license'].astype('category')
df['violation'] = df['violation'].astype('category')
df['precinct'] = df['precinct'].astype('category')
df['county'] = df['county'].astype('category')
df['agency'] = df['agency'].astype('category')

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12670934 entries, 0 to 12670933
Data columns (total 10 columns):
 #   Column     Dtype
---  ------     -----
 0   state      category
 1   license    category
 2   date       object
 3   time       object
 4   violation  category
 5   precinct   category
 6   county     category
 7   agency     category
 8   fine       float64
 9   dt         object
dtypes: category(6), float64(1), object(3)
memory usage: 471.3+ MB

In [48]:
df['dt'] = pd.to_datetime(df['dt'], errors='coerce')

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12670934 entries, 0 to 12670933
Data columns (total 10 columns):
 #   Column     Dtype
---  ------     -----
 0   state      category
 1   license    category
 2   date       object
 3   time       object
 4   violation  category
 5   precinct   category
 6   county     category
 7   agency     category
 8   fine       float64
 9   dt         datetime64[ns]
dtypes: category(6), datetime64[ns](1), float64(1), object(2)
memory usage: 471.3+ MB

In [50]:
df

,state,license,date,time,violation,precinct,county,agency,fine,dt
0,MN,PAS,11/15/2018,10:01 AM,DOUBLE PARKING-MIDTOWN COMML,18,NY,TRAFFIC,115.0,2018-11-15 10:01:00
1,NY,COM,10/24/2018,09:27 AM,FAIL TO DISP. MUNI METER RECPT,14,NY,TRAFFIC,65.0,2018-10-24 09:27:00
2,NY,PAS,12/14/2017,05:32 PM,FAIL TO DSPLY MUNI METER RECPT,120,R,TRAFFIC,35.0,2017-12-14 17:32:00
3,NY,PAS,01/26/2017,11:54 AM,NO PARKING-STREET CLEANING,69,K,TRAFFIC,45.0,2017-01-26 11:54:00
4,MN,PAS,11/17/2018,12:42 PM,DOUBLE PARKING-MIDTOWN COMML,13,NY,TRAFFIC,115.0,2018-11-17 12:42:00
...,...,...,...,...,...,...,...,...,...,...
12670929,NY,PAS,06/06/2017,01:47 PM,NO PARKING-DAY/TIME LIMITS,115,Q,TRAFFIC,60.0,2017-06-06 13:47:00
12670930,NY,PAS,12/27/2017,12:16 PM,NO PARKING-DAY/TIME LIMITS,103,Q,TRAFFIC,60.0,2017-12-27 12:16:00
12670931,NY,PAS,07/12/2017,12:27 PM,NO PARKING-STREET CLEANING,114,Q,TRAFFIC,45.0,2017-07-12 12:27:00
12670932,NY,PAS,07/25/2017,12:47 PM,NO PARKING-STREET CLEANING,102,Q,TRAFFIC,45.0,2017-07-25 12:47:00
12670933,NY,PAS,01/22/2018,09:08 AM,FAIL TO DSPLY MUNI METER RECPT,112,Q,TRAFFIC,35.0,2018-01-22 09:08:00

In [51]:
df.to_pickle('clean_dtypes.p')