In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('joined_data.csv')

In [25]:
df = df.dropna()

In [26]:
df

           Date  Count  precipitation (mm)  rain (mm)
0      1/2/2020    537                 0.0        0.0
1      1/3/2020   2398                 3.5        3.5
2      1/4/2020   4269                 4.9        4.9
3      1/6/2020   4163                 0.6        0.0
4      1/7/2020   4791                 0.1        0.1
..          ...    ...                 ...        ...
927  10/15/2022   4860                 0.0        0.0
928  10/16/2022      1                 0.0        0.0
929  10/17/2022   4689                 0.9        0.9
930  10/18/2022   5937                 1.5        1.5
931  10/19/2022   5569                 0.0        0.0

[932 rows x 4 columns]

In [27]:
df['Date'] = pd.to_datetime(df['Date'])

C:\Users\rucku\AppData\Local\Temp\ipykernel_1976\2394721818.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'])

In [30]:
df[df.Count==1]

          Date  Count  precipitation (mm)  rain (mm)
48  2020-02-23      1                 0.0        0.0
55  2020-03-01      1                 0.0        0.0
69  2020-03-15      1                 0.2        0.2
94  2020-04-12      1                 0.0        0.0
172 2020-07-12      1                 0.2        0.2
191 2020-08-02      1                 5.2        5.2
198 2020-08-09      1                 0.2        0.2
266 2020-10-25      1                 0.0        0.0
294 2020-11-26      1                11.4       11.4
297 2020-11-29      1                 0.0        0.0
351 2021-01-31      1                 0.1        0.0
362 2021-02-14      1                 0.5        0.2
387 2021-03-14      1                 0.0        0.0
420 2021-04-18      1                 0.1        0.1
439 2021-05-09      1                 2.5        2.5
488 2021-07-04      1                 0.5        0.5
494 2021-07-11      1                 0.5        0.5
508 2021-07-25      1                 1.8        1.8
562 2021-09-19      1                 0.4        0.4
587 2021-10-17      1                 7.9        7.9
594 2021-10-24      1                 0.3        0.3
607 2021-11-07      1                 0.0        0.0
626 2021-11-28      1                 0.8        0.0
658 2021-12-31      1                 0.5        0.5
759 2022-04-17      1                 4.4        4.4
798 2022-05-29      1                 0.0        0.0
831 2022-07-04      1                 0.0        0.0
844 2022-07-17      1                 9.5        9.5
851 2022-07-24      1                 0.1        0.1
858 2022-07-31      1                 0.0        0.0
889 2022-09-04      1                 0.7        0.7
928 2022-10-16      1                 0.0        0.0

In [31]:
f = df[df.Date.dt.day_name()!='Sunday']

In [32]:
f.reset_index(drop=True,inplace=True)

In [ ]:
Holidays = ['01-01', 'Memorial Day', '07-04', 'Labor Day', 'Thanksgiving Day', '12-25']

In [47]:
f[(f['Date'].dt.day==4) & (f['Date'].dt.month==7)]

          Date  Count  precipitation (mm)  rain (mm)
157 2020-07-04      2                 8.2        8.2
772 2022-07-04      1                 0.0        0.0

In [40]:
f[f['precipitation (mm)'] != f['rain (mm)'] ]

          Date  Count  precipitation (mm)  rain (mm)
3   2020-01-06   4163                 0.6        0.0
5   2020-01-08   5580                 0.8        0.5
14  2020-01-18   3512                 4.0        0.0
53  2020-03-04   5695                 2.3        2.3
69  2020-03-23    862                16.2       15.7
291 2020-12-09   2929                 0.1        0.0
295 2020-12-14   2340                 8.0        6.2
297 2020-12-16   3131                 3.1        0.0
298 2020-12-17      2                28.2        0.3
311 2021-01-04   3218                 3.8        3.5
325 2021-01-20   4221                 0.9        0.1
330 2021-01-26   3718                 5.2        1.5
331 2021-01-27   4404                 2.6        1.6
335 2021-02-03    501                 0.2        0.0
340 2021-02-09   2057                 2.8        0.7
342 2021-02-11   2066                 3.8        0.0
344 2021-02-13   3427                 1.3        0.0
348 2021-02-18     68                 8.8        0.3
349 2021-02-19    208                 7.9        0.0
350 2021-02-20   3015                 0.5        0.0
351 2021-02-22   1668                12.6        8.6
356 2021-02-27   3717                 7.3        7.2
371 2021-03-17   4254                 1.0        0.1
599 2021-12-10   2729                 0.6        0.3
611 2021-12-24      3                 1.3        0.3
617 2022-01-03   1848                 4.8        0.0
621 2022-01-07   1024                 7.1        0.0
629 2022-01-17   3729                32.0       31.2
632 2022-01-20   3814                 7.8        4.7
635 2022-01-24   3869                 0.5        0.0
639 2022-01-28   2065                 1.1        0.0
652 2022-02-14   3487                 0.1        0.0
661 2022-02-24   3727                 0.3        0.0
662 2022-02-25   3924                21.0       20.3
672 2022-03-09   1859                13.4        6.3
675 2022-03-12   2531                15.2        6.6
688 2022-03-28   4331                 0.7        0.4

In [41]:
f.dtypes

Date                  datetime64[ns]
Count                          int64
precipitation (mm)           float64
rain (mm)                    float64
dtype: object

In [44]:
f['precipitation (mm)'] = round(f['precipitation (mm)'],1)

C:\Users\rucku\AppData\Local\Temp\ipykernel_1976\505029827.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f['precipitation (mm)'] = round(f['precipitation (mm)'],1)

In [45]:
f['rain (mm)'] = round(f['rain (mm)'],1)

C:\Users\rucku\AppData\Local\Temp\ipykernel_1976\310167899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f['rain (mm)'] = round(f['rain (mm)'],1)

In [55]:
f = f[f.Count>10]  # Eliminates all holidays

In [61]:
f[f.Count<500]

          Date  Count  precipitation (mm)  rain (mm)
73  2020-03-27    455                 0.0        0.0
74  2020-03-28    391                 5.3        5.3
75  2020-03-30    390                 1.9        1.9
76  2020-03-31    384                 2.2        2.2
77  2020-04-01    249                 0.0        0.0
78  2020-04-02    193                 0.0        0.0
79  2020-04-03    138                 5.3        5.3
80  2020-04-04    163                 0.1        0.1
81  2020-04-06    179                 0.0        0.0
82  2020-04-07    147                 0.0        0.0
83  2020-04-08    162                 6.3        6.3
84  2020-04-09    125                12.3       12.3
85  2020-04-10    122                 1.2        1.2
86  2020-04-11    147                 0.0        0.0
87  2020-04-13     68                45.4       45.4
88  2020-04-14    125                 0.0        0.0
89  2020-04-15     92                 1.8        1.8
90  2020-04-16     90                 0.1        0.1
91  2020-04-17    103                 0.7        0.7
92  2020-04-18    145                12.3       12.3
93  2020-04-20    131                 0.0        0.0
94  2020-04-21    130                 9.7        9.7
95  2020-04-22    150                 0.0        0.0
96  2020-04-23    132                 0.0        0.0
97  2020-04-24    150                16.5       16.5
98  2020-04-25    214                 0.0        0.0
99  2020-04-27    161                 2.0        2.0
100 2020-04-28    213                 0.0        0.0
101 2020-04-29    177                 0.1        0.1
102 2020-04-30    164                 7.4        7.4
103 2020-05-01    124                36.3       36.3
104 2020-05-02    244                 0.2        0.2
105 2020-05-04    218                 0.4        0.4
106 2020-05-05    215                 0.0        0.0
107 2020-05-06    209                 3.6        3.6
108 2020-05-07    239                 0.0        0.0
109 2020-05-08    245                 3.8        3.8
110 2020-05-09    391                 8.9        8.9
111 2020-05-11    263                 1.0        1.0
112 2020-05-12    322                 0.0        0.0
113 2020-05-13    369                 0.0        0.0
114 2020-05-14    431                 0.0        0.0
115 2020-05-15    409                 4.4        4.4
117 2020-05-18    488                 0.2        0.2
129 2020-06-01    329                 0.0        0.0
130 2020-06-02    337                 0.1        0.1
131 2020-06-03    281                 3.2        3.2
132 2020-06-04    448                 1.8        1.8
134 2020-06-06    322                10.9       10.9
348 2021-02-18     68                 8.8        0.3
349 2021-02-19    208                 7.9        0.0

In [62]:
f

          Date  Count  precipitation (mm)  rain (mm)
0   2020-01-02    537                 0.0        0.0
1   2020-01-03   2398                 3.5        3.5
2   2020-01-04   4269                 4.9        4.9
3   2020-01-06   4163                 0.6        0.0
4   2020-01-07   4791                 0.1        0.1
..         ...    ...                 ...        ...
860 2022-10-14   4398                12.6       12.6
861 2022-10-15   4860                 0.0        0.0
862 2022-10-17   4689                 0.9        0.9
863 2022-10-18   5937                 1.5        1.5
864 2022-10-19   5569                 0.0        0.0

[854 rows x 4 columns]

In [64]:
f.columns = ['Date', 'Count', 'precip', 'rain']

In [67]:
f[f.rain>20]

          Date  Count  precip  rain
20  2020-01-25   3525    26.1  26.1
87  2020-04-13     68    45.4  45.4
103 2020-05-01    124    36.3  36.3
162 2020-07-10   1302    28.2  28.2
214 2020-09-10   4346    21.9  21.9
231 2020-09-30   5781    22.3  22.3
245 2020-10-16   1617    25.5  25.5
256 2020-10-29   1108    29.3  29.3
268 2020-11-12   4790    27.0  27.0
277 2020-11-23   4980    21.6  21.6
283 2020-11-30   2690    30.6  30.6
288 2020-12-05   2740    26.5  26.5
322 2021-01-16   4075    24.8  24.8
434 2021-05-29   3596    41.0  41.0
463 2021-07-02   2813    27.9  27.9
464 2021-07-03   2749    40.3  40.3
506 2021-08-23   3483    55.1  55.1
511 2021-08-28   2961    23.4  23.4
515 2021-09-02   2808    56.3  56.3
534 2021-09-24   1057    27.0  27.0
561 2021-10-26   2001    90.3  90.3
629 2022-01-17   3729    32.0  31.2
644 2022-02-04   2258    24.0  24.0
662 2022-02-25   3924    21.0  20.3
698 2022-04-08   3576    25.7  25.7
707 2022-04-19   4448    34.2  34.2
723 2022-05-07   2926    27.6  27.6
827 2022-09-06   1949    24.1  24.1
833 2022-09-13   3721    24.2  24.2
849 2022-10-01   2861    28.1  28.1
851 2022-10-04   2502    35.5  35.5